// BLUE COLORS
$blue-normal: #2f65f8;
$blue-light: #6c9bff;
$blue-dark: #07043b;

// GREEN COLORS
$green-normal: #3da08f;
$green-light: #71dfcc;

// NEUTRAL COLORS
$gray-1: #575988;
$gray-2: #c2c2c2;
$gray-3: #f8f8fe;
$white: #ffffff;

// SUPORT COLORS
$red: #ef4877;

.blue-normal {
  color: $blue-normal;
}

.blue-light {
  color: $blue-light;
}

.blue-dark {
  color: $blue-dark;
}

.green-normal {
  color: $green-normal;
}

.green-light {
  color: $green-light;
}

.gray-1 {
  color: $gray-1;
}

.gray-2 {
  color: $gray-2;
}

.gray-3 {
  color: $gray-3;
}

.white {
  color: $white;
}

.red {
  color: $red;
}
